client/hydrant_client/node_modules
client/hydrant_client/.idea
client/.idea/

server/.idea
server/.venv
server/hydrant_server/.idea/
server/hydrant_server/.venv/

server/hydrant_server/hydrant_server/__pycache__
server/hydrant_server/main_app/__pycache__
server/hydrant_server/main_app/migrations/__pycache__
