body {
    font-family: 'Montserrat', sans-serif;
}

.authForm {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.mainPage {
    margin-top: 100px;
}

.button {
    width: 80px;
}

.sort {
    display: inline-flex;
}

.sortCursor:hover {
    background: #e3f2fd;
    cursor: pointer;
}

.idField {
    width: 5%;
}

.typeField {
    width: 15%;
}

.addressField {
    width: 50%;
}

.belongingField {
    width: 15%;
}

.characteristicsField {
    width: 15%;
}

.inputFilter {
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}

.titleInputFilter {
    margin-bottom: 0;
    font-size: 90%;
    font-weight: bold;
}

.filterBtn {
    margin-top: 21px;
    margin-left: 10px;
}

:hover.filterBtnItem {
    cursor: pointer;
    background-color: #e3f2fd;
}

.mainBlockListHydrants {
    margin: 5px;
}

.selectAmountPages {
    width: 200px;
}

.paginationCustom {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.search {
    width: 50%;
    float: right;
}

.tableParams {
    margin-top: 30px;
}

.navBtn {
    margin-left: 5px;
}

.notFound {
    text-align: center;
    margin-top: 50px;
}

.leaflet-container {
    width: 100%;
    height: 90vh;
}

.serviceable {
    color: green;
    font-weight: bold;
}

.noServiceable {
    color: #ad0000;
    font-weight: bold;
}

