body {
    font-family: "Raleway";
}

.authForm {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.mainPage {
    margin-top: 100px;
}

.button {
    width: 80px;
}

.sort {
    display: inline-flex;
}

.sortCursor:hover {
    background: rgba(0, 183, 255, 0.322);
    cursor: pointer;
}

.idField {
    width: 5%;
}

.typeField {
    width: 15%;
}

.addressField {
    width: 50%;
}

.belongingField {
    width: 15%;
}

.characteristicsField {
    width: 15%;
}

.inputFilter {
    float: left;
}
